* {
    margin: 0;
    padding: 0;
}
body {
    font-family: 'Roboto', Helvetica, Arial, sans-serif;
}
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
}
.header-hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #1F2937;
    color: #F9FAF8;
    margin: 0; 
}
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex: 0 0 auto;
    width: 70%;
    margin-top: 24px;
}
ul {
    list-style-type: none;
    display: flex;
    gap: 24px;
}
a {
    text-decoration: none;
    color: #E5E7EB;
    font-size: 18px;
    font-weight: 300;
}
.logo {
    font-size: 24px;
    font-weight: 700;
    
}
.hero {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
    margin: 120px 0;
    width: 70%;
    font-size: 18px;
    font-weight: 300;
    color: #E5E7EB;
}
.hero-text {
    max-width: 50%;
}

.hero h1 {
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8;
    margin-bottom: 16px;
}

.sign-up-button {
    
    background-color: #3882F6;
    color: #F9FAF8;
    font-size: 18px;
    font-weight: 700;
    padding: 8px 16px;
    border-radius: 8px;
    border: 0px;
    margin-top: 16px;
    max-width: max-content;
}
.sign-up-button:hover {
    background-color: #E5E7EB;
    color: #1F2937;
}
#hero-img {
    max-width: 50%;
    height: fit-content;
}
.content{
    
    color:#1F2937;
    text-align: center;
    width: 70%;
    
}
.info-title {
    font-size: 36px;
    font-weight: 900;
    color:#1F2937;
    margin: 40px 0;
}
.info {
    display: flex;
    justify-content: space-around;
    padding: 0 50px;
    margin-bottom: 120px;

}
.info-img, .info-img-text{
    max-width: 160px;
}
.info-img {
    height: auto;
    border: 4px solid #3882F6;
    border-radius: 18px;
}
.info-img-text {
    font-size: 18px;
    font-weight: 300;
}